@media (max-width: 1200px){
  .sidebar{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 72px;
    z-index: 200;
    background-color: white;
  }

  .sidebar-link{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }

  .sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
  }

  .sidebar-link:hover{
    background-color: rgb(236, 236, 236);
  }

  .sidebar-link div{
    font-size: 10px;
  }
}

@media (min-width: 1200.1px){
  .sidebar{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 150px;
    z-index: 200;
    background-color: white;
    padding-top: 10px;
  }

  .sidebar-link{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    cursor: pointer;
  }

  .sidebar-link img{
    height: 24px;
    margin-left: 24px;
  }

  .sidebar-link:hover{
    background-color: rgb(236, 236, 236);
  }

  .sidebar-link div{
    font-size: 10px;
  }
}